:root {
    --purple-color: #9156DD;
    --footer-color: #F6F6F6
  }

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

p, h1, h3, h2{
    padding: 1px !important;
    margin: 1px !important;
}

a{
    color: var(--purple-color);
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;
}


h2{
    font-size: 1.3rem;
    font-weight: 400;
}

h3{
    font-size: 1.2rem;
    font-weight: 900;
}

h4{
    font-size: 1.5rem;
}

h5{
    color: var(--purple-color);
    font-size: 0.9rem;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5rem;
}

.testik{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.navbar{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.welcomeAndProfile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.profile{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-align: right;
    align-items:flex-start;
    height: 70%;
}

.secondaryText{
    opacity: 0.6;
    font-size: 0.7rem;
}

.boldText{
    font-weight: 700;
}

.settings{
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    color: var(--purple-color);
}

.profilePicture{
    width: 4rem;
}

.card{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 1.5rem;
    background-color: white;
}

.selectionBoxes{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.about{
    flex:2;
    background: url("/assets/coverPhoto.svg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    width: 60%;
}

.quizBoxes{
    flex: 1;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.quizBoxes .card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.mainButton{
    max-width: fit-content;
    border: none;
    background-color: white;
    border-radius: 3rem;
    padding: 0.7rem 3rem;
    color: var(--purple-color);
    font-size: 0.8rem;
    font-weight: 700;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
}

.footer{
    background-color: var(--footer-color);
    width: 100%;
    padding:2rem 0;
    text-align: center;
    color: var(--purple-color);
    font-size: 0.7rem;
}

.footer p{
    max-width: 80%;
    opacity: 0.6;
    margin: 0 auto !important;
}

.modal{
    max-width: 70vw;
    max-height: 70vh;
    border: none;
    text-align: center;
}

.modal::backdrop{
    background: black;
    opacity: 0.6;
}

.quizOption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 2rem;
    border-bottom: 0.5px solid rgba(30, 30, 30, 0.1);
}

.quizOption .secondaryText{
    text-align: left;
    width: 70%;
}

.name{
    display: flex;
    gap: 1rem;
}

.language{
    display: flex;
    align-items: center;
    justify-content: center;
}
.language img{
    width: 12px;
}
.colorText{
    color: var(--purple-color);
    font-size: 0.7rem;
    font-weight: 700;
}

.smallBoldText{
    font-size: 0.7rem;
    font-weight: 700;
}

.close{
    text-align: right;
    width: 100%;
}

.heading{
    font-size: 1.3rem;
    margin: 1rem 0 !important;
}

.profileSettings{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 20vw;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
}

.profileSettings img{
    width: min-content;
}

.label{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

input{
    border: none;
    background-color: white;
    width: 10rem;
    border-radius: 3rem;
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
}

.secondaryButton{
    width:85%;
    color: white;
    background-color: var(--purple-color);
}

.logout{
    color: #FF0A0A;
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}
.logout p{
    opacity: 0.6;
}

.center{
    max-width: max-content;
    padding: 1rem 3rem !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: center;
    margin-top: 7rem;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.history{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.history h5{
    padding: 0;
    margin: 0;
}

.score, .score h5{
    font-size: 0.7rem !important;
}

#testHistory{
    min-width: 40vw;
}

.results{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

table{
    min-width: 60%;
    table-layout: fixed;
}

td{
    vertical-align: middle;
    text-align: center;
    border-bottom: 0.5px solid rgba(30, 30, 30, 0.1);
    padding: 0.5rem 0rem;
}

.vr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 90vh;    
}

.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.task{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.6rem !important;
}

.completed{
    opacity: 0.3 !important;
}

.tasks img{
    width: 25px;
}

.helper{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-image: url(/assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
}

.vrProfile{
    display: flex;
    gap: 1rem;
    padding: 0;
    padding-left: 2rem;
    align-items: center;
}

.vrProfile div{
    text-align: right;
}

.vrProfile img{
    width: 4rem;
}

.time{
    padding: 0.5rem 5rem;
    text-align: center;
}

.closeTest{
    background-color: #FF0A0A;
    color: white;
    display: flex;
    padding: 0.5rem;
    border-radius: 3rem;
}

.groups{
    display: flex;
    max-width: 250px;
    gap: 0.1rem;
}

.groups p{
    font-size: 0.5rem;
    opacity: 0.6;
    border: 0.5px solid rgba(30, 30, 30, 0.6);
    padding: 0.2rem 0.5rem !important;
    border-radius: 3rem;
}

.active{
    color: #44953D;
    border-color: #44953D !important;
}

.petriNet{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.file {
    display: flex;
    align-items: center;
    color: black !important;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.popup{
    z-index: 5;
    position: fixed;
    top: 2rem;
    left: 40%;
    background-color: var(--footer-color);
    border-left: #9156DD 5px solid;
    border-radius: 5px;
    width: 300px;
    height: 110px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    animation: show_slide 1s ease forwards;
}

.hide{
    animation: hide_slide 0.5s ease forwards;
}

@keyframes hide_slide {
    100%{
        transform: translateY(-130%);
    }
}

@keyframes show_slide {
    0%{
        transform: translateY(-120%);
    }
}

.popDiv{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popDiv img{
    opacity: 0.6;
}

.sidebar{
    display: none;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 25vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple-color);
    color: white;
    z-index: 10;
    animation: showMenu 400ms ease forwards;
}

.overlay{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0.7;
}

@keyframes showMenu{
    to{
        right: 0;
    }
}


@media only screen and (max-width: 900px) {
    .selectionBoxes{
        flex-direction: column !important;
    }
    .content{
        width: 85%;
        padding: 1rem;
    }

    .popup{
        left: 30%;
    }

    .sidebar{
        width: 60vw;
    }
}

@media only screen and (max-width: 800px) {
    .profile{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column !important;
    }
    .profilePicture{
        order: -1;
    }

    .quizOption{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .description{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .quizOption .secondaryText{
        text-align: center;
    }

    .popup{
        left: 10%;
    }

    .sidebar{
        width: 100vw;
    }
}